:root {
  --primary-color: #fcfcfc;
  --primary-text-color: #6f6f6f;
  --link-text-color: #0094fb;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  font-size: .75em;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--primary-color);
}

p {
  margin: 0;
}

a {
  color: #5fbdf8;
}

.Panel {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px auto;
  grid-gap: 10px;
}

/* ----- Top section  ----- */

.section-top {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30px auto;
  grid-column: 1 / 3;
}

.icon {
  width: 30px;
  height: 30px;
}

.header {
  grid-column-start: 2;
}

.rationale {
  grid-column-start: 3;
  align-self: flex-start;
  width: 15px;
}

/* ----- Middle section  ----- */

.section-middle {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  align-items: center;
}

.section-middle div {
  margin-left: 15px;
}

.users {
  display: inline-block;
  margin-left: 5px;
  color: #a3a3a3;
}