* {
  box-sizing: border-box;
}

.Panel {
  max-width:400px;
  padding: 20px;
  background-color: #fdfdfd;
}

/* ----- Top section  ----- */

section:first-child {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header {
  margin-right: 10px;
}

.rationale {
  align-self: flex-start;
  width: 20px;
}

/* ----- Middle section  ----- */
